<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/">
            <span class="title">CollaboratR</span>
        </a>
        <div class="btn-group" data-bind="foreach: router.visibleRoutes">
            <a data-bind="css: { active: isActive }, attr: { href: hash }, text: name"
                class="btn btn-info" href="#"></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-info dropdown-toggle"
                data-toggle="dropdown"><i class="icon-user"></i>
                <span class="text">Admin</span> <span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
                <li><a data-bind="click: addNewNote, html: 'Add New'" href="#"></a></li>
            </ul>
        </div>
        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
            <div class="progress progress-striped active page-progress-bar">
                <div class="bar" style="width: 100px;"></div>
            </div>
        </div>
    </div>
</nav>
